<div class="login-container">
  <div class="login-container__left">
    Welcome to RoomManager. <br/>
    Simplify your meeting room bookings with just a few clicks!
    <div class="notes">
      <div class="notes__label">
        Follow these steps to book meeting room.
      </div>
      <ul>
        <li>
          Login using any user name and password sent on mail.
        </li>
        <li>
          After successful login you will routed dashboard and will have overview of the bookings.
        </li>
        <li>
          Click on Book Meeting and fill all the details.
        </li>
        <li>
          After booking meeting rooms, upcomong and room details are available in table format in dashboard.
        </li>
        <li>
          You can also check the status of rooms by click on Book meeting button and then click check Status button.
        </li>
      </ul>
    </div>
  </div>
  <div class="login-container__right">
    <div>
      <h4>BOOK A MEETING ROOM</h4>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="login-container__right--username">
        <label class="login-container__right--username__label">User Name</label>
        <input type="text" formControlName="username">
      </div>
      <div class="login-container__right--password">
        <label class="login-container__right--password__label">Password</label>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password">
       </div>
       <div class="login-container__right--toggle">
        <label for="togglePassword">show password</label>
        <input type="checkbox" (change)="handleTogglePassword()">
       </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" class="login-container__right--submit-btn">Login</button>
    </form>
  </div>
  <div>
  </div>
</div>
