<div class="login-container">
  <div class="login-container__left">
    <div>
      <h4>BOOK A MEETING ROOM</h4>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="login-container__left--username">
        <label class="login-container__left--username__label">User Name</label>
        <input type="text" formControlName="username">
      </div>
      <div class="login-container__left--password">
        <label class="login-container__left--password__label">Password</label>
        <input type="password" formControlName="password">
       </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" class="login-container__left--submit-btn">Login</button>
    </form>
  </div>
  <div>
  </div>
</div>
