@import './../../styles/index.scss';

.dashboard-container{
  &__section{
    width: 100vw;
    @include display-flex();
    &__main{
      padding: 24px 16px;
      width: 75vw;
      @include display-flex($direction:column,$justify:flex-start,$align:flex-start);
      gap: 24px;
      &--booking-btn{
        background-color: $primary-color;
        color: #fff;
        font-size: 1rem;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          opacity: 0.8;
        }
      }
      &__upcoming-meetings,&__room-details{
        border: 1px solid $secondary-color;
        border-radius: 10px;
        padding: 16px;
        width: 80vw;
        &--dropdown{
          margin: 16px 0;
        }
      }
    }
  }
  &--date-time-field{
    width: 100vw;
    @include display-flex();
    .actions{
      width: 75vw;
    }
  }
}


#room-select{
  padding: 4px 8px 4px 2px;
  margin-left: 8px;
  border-radius: 4px;
  border: 1px solid $secondary-color;
  background-color: $white;
  width: 250px;
  font-size: 14px;
  font-weight: 600;
}


