<div class="dashboard-container">
  <div class="dashboard-container__header">
    <app-header [pageTitle]="'Room Manager Dashboard'"></app-header>
  </div>
  <section class="dashboard-container__section">
    <div class="dashboard-container__section__main">
        <button class="dashboard-container__section__main--booking-btn" (click)="handleDialog()">Book Meeting</button>

        <div class="dashboard-container__section__main__upcoming-meetings">
          <h4> Your Upcoming Meetings</h4>
          <app-table [displayColumns]="meetingColumns" [items]="upcomingMeetings" [isAction]="true" (emitDeletedItem)="handleDelete($event)"/>
        </div>
        <div class="dashboard-container__section__main__room-details">
          <h4>Rooms Meetings Details</h4>
          <div class="dashboard-container__section__main__room-details--dropdown">
            <label for="room-select">Select Room:</label>
            <select id="room-select" [(ngModel)]="selectedRoom" (change)="filterMeetingsByRoom()" >
              @for(room of rooms; track room.id){
                <option  [value]="room.id" [selected]="room.id === selectedRoom">{{ room.name }}</option>
              }
            </select>
          </div>
          <app-table [displayColumns]="meetingColumns.slice(0,meetingColumns.length-1)" [items]="filteredMeetings"/>
        </div>
    </div>
  </section>
  <div class="dashboard-container__message">
    ** To check which rooms are <i>Available, In use or Booked</i>  status Click on <b>Book Meeting</b>.
  </div>
</div>


