<div class="dashboard-container">
  <div class="dashboard-container__header">
    <app-header [pageTitle]="'Room Manager Dashboard'"></app-header>
  </div>
  <section class="dashboard-container__section">
    <div class="dashboard-container__section__main">
        <button class="dashboard-container__section__main--booking-btn" (click)="handleDialog()">Book Meeting</button>
        <div class="dashboard-container__section__main__upcoming-meetings">
          <h4> Your Upcoming Meetings</h4>
        </div>
        <div class="dashboard-container__section__main__room-details">
          <h4>Room Meeting Details</h4>
        </div>
    </div>
  </section>
</div>


<ng-template #bookingFormTemplate>
  <div class="book-meeting">
    <h1 class="book-meeting__title">Book a Meeting Room</h1>
    <form class="book-meeting__form" (ngSubmit)="onSubmit()" [formGroup]="meetingForm">
      <div class="book-meeting__field">
        <label for="username" class="book-meeting__label">Username</label>
        <input
          id="username"
          class="book-meeting__input"
          type="text"
          formControlName="username"
          required
        />
        @if(meetingForm.get('username')?.hasError('required')){
          <div
            class="book-meeting__error">
            Username is required
          </div>
        }
      </div>

      <div class="book-meeting__field">
        <label for="room" class="book-meeting__label">Meeting Room</label>
        <select
          id="room"
          class="book-meeting__select"
          formControlName="room"
          required
        >
        @for(room of rooms; track room.id ){
          <option  [value]="room.id">{{ room.name }}</option>
        }
        </select>
        @if(meetingForm.get('room')?.hasError('required')){
          <div
            class="book-meeting__error">
            Room is required
          </div>
        }
      </div>

      <div class="book-meeting__date-and-time">
        <div class="book-meeting__field">
          <label for="date" class="book-meeting__label">Date</label>
          <input
            id="date"
            class="book-meeting__input"
            type="date"
            formControlName="date"
            required
          />
          @if(meetingForm.get('date')?.hasError('required')){
            <div
              class="book-meeting__error">
              Date is required
            </div>
          }
        </div>
        <div class="book-meeting__field">
          <label for="from" class="book-meeting__label">From</label>
          <input
            id="from"
            class="book-meeting__input"
            type="time"
            formControlName="from"
            required
          />
          @if(meetingForm.get('from')?.hasError('required')){
            <div
              class="book-meeting__error"
            >
              Start time is required
            </div>
          }
        </div>
        <div class="book-meeting__field">
          <label for="to" class="book-meeting__label">To</label>
          <input
            id="to"
            class="book-meeting__input"
            type="time"
            formControlName="to"
            required
          />
          @if(meetingForm.get('to')?.hasError('required')
          ){
            <div
              class="book-meeting__error"
            >
              End time is required
            </div>
          }
        </div>
      </div>
      <div class="search-room">
        <button class="search-room--btn" (click)="handleSearchRoom()">Search Room</button>
      </div>
      <div class="book-meeting__field">
        <label for="agenda" class="book-meeting__label">Agenda</label>
        <textarea
          id="agenda"
          class="book-meeting__textarea"
          formControlName="agenda"
          required
        ></textarea>
        @if(meetingForm.get('agenda')?.hasError('required')){
          <div
            class="book-meeting__error">
            Agenda is required
          </div>
        }
      </div>

      <button
        class="book-meeting__button"
        type="submit"
        [disabled]="!meetingForm.valid"
      >
        Book Meeting
      </button>
    </form>
  </div>

</ng-template>
