@import './../../styles/index.scss';

.dashboard-container{
  &__section{
    width: 100vw;
    @include display-flex();
    &__main{
      padding: 24px 16px;
      width: 75vw;
      @include display-flex($direction:column,$justify:flex-start,$align:flex-start);
      gap: 24px;
      &--booking-btn{
        background-color: $primary-color;
        color: #fff;
        font-size: 1rem;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          opacity: 0.8;
        }
      }
      &__upcoming-meetings,&__room-details{
        border: 1px solid $secondary-color;
        border-radius: 10px;
        padding: 16px;
      }
    }
  }
}

/* Block: book-meeting */
.book-meeting {
  padding: 24px;
  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  &__date-and-time{
    display: flex;
    gap: 12px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }

  &__input,
  &__select,
  &__textarea {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #007bff;
    }
  }

  &__textarea {
    resize: vertical;
  }

  &__error {
    font-size: 0.875rem;
    color: red;
  }

  &__button {
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}


