@import './../../styles/index.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  &__right-items{
    @include display-flex();
    gap: 24px;
    &__username{
      font-weight: 600;
      font-size: 16px;
    }
  }

  &__logout-button {
    background-color: $primary-color;
    color: #fff;
    font-size: 1rem;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}
