<div class="room-details">
  @if(items?.length){
    <table class="room-details__table">
      <thead>
        <tr>
          @for(header of displayColumns; track header.key){
            <th class="room-details__table__header">{{header.label}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for(item of items; track item.id; let idx = $index){
          <tr>
            <td class="room-details__cell">{{idx+1}}</td>
            <td class="room-details__cell">{{ item.username }}</td>
            <td class="room-details__cell">{{ item.agenda }}</td>
            <td class="room-details__cell">{{ item.date | date:'dd-MM-yyyy' }}</td>
            <td class="room-details__cell">
              {{ item.from }} - {{ item.to }}
            </td>
            <td class="room-details__cell">{{ '#Room'+ item.room }}</td>

            @if(isAction){
              <td class="room-details__cell">
                <button
                  class="room-details__button room-details--delete-btn"
                  (click)="handleDelete(item)"
                >
                  Delete
                </button>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }@else{
    <p class="room-details__no-meetings">
      {{isAction ? 'No meetings scheduled for this room' : 'All slots are available for the selected room'}}
    </p>
  }

</div>
