@import './../../styles/index.scss';

.room-details{
  width: 100%;
  &__table{
    width: 100%;
    &__header{
      text-align: left;
    }
  }
  &--delete-btn{
    padding: 4px 6px;
    font-size: 1rem;
    color: #fff;
    background-color: $danger-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

@media screen and (max-width:600px) {
  .room-details{
    width: calc(100vw - 12px);
    overflow-x: auto;
    &__table{
      width: calc(100vw - 12px);
      padding:12px;
      td{
        width: 200px;
      }
    }
  }
}
