<div class="book-meeting">
  <h1 class="book-meeting__title">Book a Meeting Room</h1>
  <button>

  </button>
  <form class="book-meeting__form" (ngSubmit)="onSubmit()" [formGroup]="meetingForm">
    <div class="book-meeting__field">
      <label for="username" class="book-meeting__label">Username</label>
      <input
        id="username"
        class="book-meeting__input"
        type="text"
        formControlName="username"
        readonly
      />
      @if(meetingForm.get('username')?.hasError('required')){
        <div
          class="book-meeting__error">
          Username is required
        </div>
      }
    </div>

    <div class="book-meeting__date-and-time">
      <div class="book-meeting__field">
        <label for="date" class="book-meeting__label">Date</label>
        <input
          id="date"
          class="book-meeting__input"
          type="date"
          formControlName="date"
          [min]="minDate"
          required
        />
        @if(meetingForm.get('date')?.hasError('required') && (meetingForm.get('date')?.touched || meetingForm.get('date')?.dirty)){
          <div
            class="book-meeting__error">
            Date is required
          </div>
        }
      </div>
      <div class="book-meeting__field">
        <label for="from" class="book-meeting__label">From</label>
        <input
          id="from"
          class="book-meeting__input"
          type="time"
          formControlName="from"
          [min]="minTime"
          [max]="maxTime"
          required
        />
        @if(meetingForm.get('from')?.hasError('required') && (meetingForm.get('from')?.touched || meetingForm.get('from')?.dirty)){
          <div
            class="book-meeting__error"
          >
            Start time is required
          </div>
        }
      </div>
      <div class="book-meeting__field">
        <label for="to" class="book-meeting__label">To</label>
        <input
          id="to"
          class="book-meeting__input"
          type="time"
          formControlName="to"
          required
        />
        @if(meetingForm.get('to')?.hasError('required') && (meetingForm.get('to')?.touched || meetingForm.get('to')?.dirty)
        ){
          <div
            class="book-meeting__error"
          >
            End time is required
          </div>
        }
      </div>
    </div>
    @if(!isSearchRoomClicked){
    <div class="search-room">
      <button class="search-room--btn" type="button" (click)="handleSearchRoom()">Search Room</button>
    </div>
    }@else{
      <div class="book-meeting__field">
        <label for="room" class="book-meeting__label">Meeting Room</label>
        <select
          id="room"
          class="book-meeting__select"
          formControlName="room"
          required
        >
        @for(room of rooms; track room.id ){
          <option  [value]="room.id">{{ room.name }}</option>
        }
        </select>
        @if(meetingForm.get('room')?.hasError('required') && (meetingForm.get('room')?.touched || meetingForm.get('room')?.dirty)){
          <div
            class="book-meeting__error">
            Room is required
          </div>
        }
      </div>
      <div class="book-meeting__field">
        <label for="agenda" class="book-meeting__label">Agenda</label>
        <textarea
          id="agenda"
          class="book-meeting__textarea"
          formControlName="agenda"
          required
        ></textarea>
        @if(meetingForm.get('agenda')?.hasError('required') && (meetingForm.get('room')?.touched || meetingForm.get('room')?.dirty )){
          <div
            class="book-meeting__error">
            Agenda is required
          </div>
        }
      </div>

      <button
        class="book-meeting__button"
        type="submit"
        [disabled]="!meetingForm.valid"
      >
        Book Meeting
      </button>
    }
  </form>
</div>
