/* You can add global styles to this file, and also import other style files */

// src/styles/index.scss
@import './app/styles/index.scss';




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: #F6F6F6; }

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.8); /* Customize the color and transparency here */
}
